# Dependencies
node_modules/

# React Native
ios/build/
ios/Pods/
android/build/
android/app/build/
android/app/.cxx/
android/.gradle/
android/.cxx/

# Metro
.metro-health-check*

# Xcode
*.xcworkspace
*.xcuserdata
DerivedData/

# Android
*.apk
*.aab
*.keystore
local.properties
android/gradle.properties

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
