:root {
  --sl-color-accent-low: #022b21;
  --sl-color-accent: #035642;
  --sl-color-accent-high: #B79527;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e0e0e0;
  --sl-color-gray-2: #b0b0b0;
  --sl-color-gray-3: #808080;
  --sl-color-gray-4: #404040;
  --sl-color-gray-5: #2a2a2a;
  --sl-color-gray-6: #1a1a1a;
  --sl-color-black: #0a0a0a;
}
